apiVersion: apps/v1
kind: Deployment
metadata:
  name: flask-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: flask-app
  template:
    metadata:
      labels:
        app: flask-app
    spec:
      containers:
      - name: flask-app
        image: flask-mongodb-app:v1
        imagePullPolicy: Never  # Use local image from minikube
        ports:
        - containerPort: 5000
        env:
        - name: MONGODB_URI
          valueFrom:
            configMapKeyRef:
              name: flask-config
              key: MONGODB_URI
        resources:
          requests:
            cpu: "200m"
            memory: "250Mi"
          limits:
            cpu: "500m"
            memory: "500Mi"
